.footer {
  border-top: 1px solid var(--color-black-85);
  background-color: var(--color-footer);
  padding: 17px 24px 24px;
  display: flex;
  justify-content: space-between;
}

.footer__column {
  display: none;
}

.footer__column-title {
  font-size: 14px;
  line-height: 21px;
  color: var(--color-black-45);
}

.footer__column-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__paragraph {
  font-size: 16px;
  line-height: 24px;
}

.footer__link {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer__icon {
  width: 35px;
}

@media screen and (min-width: 1024px) {
  .footer {
    padding-top: 48px;
  }
  .footer__paragraph {
    font-size: 24px;
    line-height: 36px;
  }
  .footer__column {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

@media screen and (min-width: 1728px) {
  .footer {
    padding-inline: 10%;
  }

  .footer__column {
    padding-left: 20px;
    border-left: 1px solid var(--color-black-45);
  }
}