@import url('reset.css');
@import url('header.css');
@import url('search.css');
@import url('highlight.css');
@import url('card.css');
@import url('recent.css');
@import url('subscribe.css');
@import url('footer.css');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

:root {
  --color-white: #ffffff;
  --color-black-85: rgba(0, 0, 0, 0.85);
  --color-black-45: rgba(0, 0, 0, 0.45);
  --color-bg: #EBECEE;
  --color-primary: #002f52;
  --color-secondary: #eb9b00;
  --color-primary-gradient: linear-gradient(
    97.54deg,
    #002f52 35.49%,
    #326589 165.37%
  );
  --color-footer: #f9f9f9;

  --transition: all 200ms ease-in-out;

  --font-family: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg);
  font-family: var(--font-family);
}
