@import url('reset.css');
@import url('header.css');
@import url('search.css');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
  --color-white: #ffffff;
  --color-black-a85: rgba(0, 0, 0, 0.85);
  --color-bg: #c4c4c4;
  --color-primary: #002f52;
  --color-secondary: #eb9b00;
  --color-primary-gradient: linear-gradient(97.54deg, #002f52 35.49%, #326589 165.37%);

  --transition: all 100ms ease-in-out;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg);
  font-family: 'Poppins', sans-serif;
}
